# hft-recorder - environment template

BINANCE_API_KEY=
BINANCE_SECRET=
BINANCE_FUTURES_API_1_KEY=
BINANCE_FUTURES_API_1_SECRET=
BINANCE_FUTURES_API_2_KEY=
BINANCE_FUTURES_API_2_SECRET=
BINANCE_FUTURES_API_3_KEY=
BINANCE_FUTURES_API_3_SECRET=
BINANCE_FIX_API_1_KEY=
BINANCE_FIX_API_1_PUBLIC_KEY=Public_key.env
BINANCE_FIX_API_1_PRIVATE_KEY=Private_key.env
BINANCE_FIX_API_1_SENDER_COMP_ID=
GATE_FUTURES_API_1_KEY=
GATE_FUTURES_API_1_SECRET=
GATE_USER_1_ID=
KUCOIN_FUTURES_API_1_KEY=
KUCOIN_FUTURES_API_1_SECRET=
KUCOIN_FUTURES_API_1_PASSPHRASE=
KUCOIN_SPOT_API_1_KEY=
KUCOIN_SPOT_API_1_SECRET=
KUCOIN_SPOT_API_1_PASSPHRASE=
KUCOIN_MARGIN_API_1_KEY=
KUCOIN_MARGIN_API_1_SECRET=
KUCOIN_MARGIN_API_1_PASSPHRASE=
BITGET_FUTURES_API_1_KEY=
BITGET_FUTURES_API_1_SECRET=
BITGET_FUTURES_API_1_PASSPHRASE=
BITGET_SPOT_API_1_KEY=
BITGET_SPOT_API_1_SECRET=
BITGET_SPOT_API_1_PASSPHRASE=
BITGET_INVERSE_API_1_KEY=
BITGET_INVERSE_API_1_SECRET=
BITGET_INVERSE_API_1_PASSPHRASE=
BITGET_SWAP_API_1_KEY=
BITGET_SWAP_API_1_SECRET=
BITGET_SWAP_API_1_PASSPHRASE=
PROXY=

EXCHANGE=binance
MARKET=futures_usd
SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT
OUTPUT_DIR=./recordings

LOG_LEVEL=info
LOG_DIR=./logs

PROMETHEUS_PUSHGATEWAY_URL=
PROMETHEUS_PUSH_INTERVAL_SEC=10

CPU_MAIN=0
CPU_CONTROL=7
CPU_PROD_TRADES=2
CPU_PROD_BOOKTICK=3
CPU_PROD_DEPTH=4
CPU_PROD_SNAP=5
CPU_WR_TRADES=8
CPU_WR_BOOKTICK=9
CPU_WR_DEPTH=10
CPU_WR_SNAP=11
